# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# VSCode project files
.vscode/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# bazel outputs
/bazel-*
.ijwb/

# Video files.
*.m3u8
*.ts
